<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterMainController</filter-name>
        <filter-class>filters.FilterMainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMainController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewProductController</servlet-name>
        <servlet-class>servlets.CreateNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>servlets.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>servlets.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductByIDController</servlet-name>
        <servlet-class>servlets.LoadProductByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryByIDController</servlet-name>
        <servlet-class>servlets.LoadCategoryByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainAdminPageController</servlet-name>
        <servlet-class>servlets.MainAdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductController</servlet-name>
        <servlet-class>servlets.AddNewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>servlets.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>servlets.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductByCategoryController</servlet-name>
        <servlet-class>servlets.LoadProductByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCategoryController</servlet-name>
        <servlet-class>servlets.AddNewCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCategoryController</servlet-name>
        <servlet-class>servlets.CreateNewCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainUserPageController</servlet-name>
        <servlet-class>servlets.MainUserPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserController</servlet-name>
        <servlet-class>servlets.AddNewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewUserController</servlet-name>
        <servlet-class>servlets.CreateNewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>servlets.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>servlets.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>servlets.CheckOutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewProductController</servlet-name>
        <url-pattern>/CreateNewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/DeleteCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductByIDController</servlet-name>
        <url-pattern>/LoadProductByIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryByIDController</servlet-name>
        <url-pattern>/LoadCategoryByIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAdminPageController</servlet-name>
        <url-pattern>/MainAdminPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductController</servlet-name>
        <url-pattern>/AddNewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/UpdateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductByCategoryController</servlet-name>
        <url-pattern>/LoadProductByCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategoryController</servlet-name>
        <url-pattern>/AddNewCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCategoryController</servlet-name>
        <url-pattern>/CreateNewCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainUserPageController</servlet-name>
        <url-pattern>/MainUserPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserController</servlet-name>
        <url-pattern>/AddNewUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewUserController</servlet-name>
        <url-pattern>/CreateNewUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
